@use "sass:map";

@use "functions";
@use "tokens";

@mixin light-mode {
  .color-scheme--light & {
    @content;
  }
}

@mixin container {
  padding-inline: map.get(tokens.$spacing, base);
  margin-inline: auto;
  box-sizing: border-box;
  width: 100%;

  @media (width >= map.get(tokens.$breakpoints, small)) {
    max-width: map.get(tokens.$breakpoints, small);
  }

  @media (width >= map.get(tokens.$breakpoints, medium)) {
    max-width: map.get(tokens.$breakpoints, medium);
  }

  @media (width >= map.get(tokens.$breakpoints, large)) {
    max-width: map.get(tokens.$breakpoints, large);
  }
}

@mixin transition($property, $duration) {
  transition-property: $property;
  transition-duration: map.get(tokens.$duration, $duration);
}

@mixin pad($size) {
  $padding: map.get(tokens.$padding, $size);

  padding: $padding calc(2 * $padding);
}

@mixin pad-bottom($size) {
  $padding: map.get(tokens.$padding, $size);

  padding-bottom: $padding;
}

@mixin svg-icon {
  width: 24px;
  height: 24px;
  stroke: map.get(tokens.$colors, white);
  stroke-width: 2px;
  fill: none;
}

@mixin svg-button {
  all: unset;

  width: 24px;
  height: 24px;

  color: map.get(tokens.$brand, white);
  @include light-mode {
    color: map.get(tokens.$brand, black);
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem;

  // TODO: make better
  &:hover,
  &:focus {
    cursor: pointer;

    color: functions.darken(map.get(tokens.$brand, white), 15%);
    @include light-mode {
      color: functions.lighten(map.get(tokens.$brand, black), 30%);
    }
  }

  & > svg {
    @include svg-icon;
  }
}
