@use "sass:map";

@use "tokens";

// A helper to sprinkle around during development. Just don't commit it in actual components!
@mixin dev {
  outline: 1.5px solid red;
}

@mixin light-mode {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin transition($property, $duration) {
  transition-property: $property;
  transition-duration: map.get(tokens.$duration, $duration);
}

@mixin pad($size) {
  $padding: map.get(tokens.$padding, $size);

  padding: $padding calc(2 * $padding);
}

@mixin svg-icon {
  width: 24px;
  height: 24px;
  stroke: map.get(tokens.$colors, white);
  stroke-width: 2px;
  fill: none;
}

@mixin svg-button {
  all: unset;

  width: 24px;
  height: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: map.get(tokens.$brand, gray);
  padding: 0.25rem;

  // TODO: make better
  &:hover,
  &:focus {
    cursor: pointer;
    outline: 1px solid map.get(tokens.$colors, red);
  }

  & > svg {
    @include svg-icon;
  }
}
