$brand: (
  dark-blue: #1f1953,
  red: #ec2c5b,
  blue-a: #086bb5,
  yellow: #faa61a,
  purple: #cd1e88,
  blue-b: #034d9c,
  light-blue: #1e9fd9,
  orange: #ea741f,
  white: #ededef,
  gray: #545454,
  black: #231f20,
);

$duration: (
  short: 150ms,
);
