$brand: (
  dark-blue: #1f1953,
  red: #ec2c5b,
  blue-a: #086bb5,
  yellow: #faa61a,
  purple: #cd1e88,
  blue-b: #034d9c,
  light-blue: #1e9fd9,
  orange: #ea741f,
  white: #ededef,
  gray: #545454,
  black: #231f20,
);

$code: (
  // Default values taken from Shiki's 'classic' output type
  bg-dark: #24292e,
  bg-light: #fff
);

$fonts: (
  sans: '"Work Sans", sans-serif',
  mono:
    'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace',
);

$duration: (
  short: 150ms,
  shortish: 250ms,
);

$spacing: (
  xs: 0.25rem,
);
