@use "sass:map";

$header-height: 3.5rem;

$brand: (
  red: #ec2c5b,
  yellow: #faa61a,
  magenta: #cd1e88,
  violet: #8b2cbf,
  sky-blue: #1e9fd9,
  ocean-blue: #086bb5,
  rich-blue: #0d4d9c,
  dark-blue: #1f1953,
  orange: #ea741f,
  light: #ededef,
  gray: #545454,
  black: #231f20,
  very-black: oklch(0.13 0.028 261.692),
  white: #ffffff,
);

$grays: (
  faint: color-mix(in oklab, oklch(0.985 0.002 247.839) 95%, transparent),
  less-faint: oklch(0.928 0.006 264.531),
  very-light: oklch(0.872 0.01 258.338),
  light: oklch(0.446 0.03 256.802),
  dark: oklch(0.21 0.034 264.665),
);

$colors: (
  primary: map.get($brand, orange),
  secondary: map.get($brand, magenta),
  // NOTE(lucperkins): Semantic colors are not great and borrowed from Bootstrap solely as an
  // initial basis to be changed later:
  // https://getbootstrap.com/docs/4.0/utilities/colors
  success: rgb(40, 167, 69),
  info: rgb(23, 162, 184),
  warning: rgb(255, 193, 7),
  danger: rgb(220, 53, 69),
);

$code: (
  // Default values taken from Shiki's 'classic' output type
  bg-dark: #24292e,
  bg-light: #fff
);

$fonts: (
  sans: (
    "Work Sans",
    sans-serif,
  ),
  mono: (
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace,
  ),
);

$sizes: ("sm", "base", "lg");

$border-color: (
  light: #ebe6e7,
  dark: #364153,
);

$border-radius: (
  sm: 0.25rem,
  base: 0.5rem,
  lg: 0.75rem,
);

$padding: (
  sm: 0.2rem,
  base: 0.4rem,
  lg: 0.6rem,
);

$font-size: (
  sm: 0.75rem,
  base: 1rem,
  lg: 1.25rem,
);

$font-weight: (
  md: 500,
);

$duration: (
  short: 150ms,
  shortish: 250ms,
  medium: 500ms,
  reduced-motion: 1ms,
);

$spacing: (
  xs: 0.25rem,
  sm: 0.5rem,
  base: 0.75rem,
  lg: 0.75rem,
  xl: 1rem,
);

$breakpoints: (
  minimum: 360px,
  small: 40rem,
  medium: 48rem,
  large: 64rem,
  xlarge: 80rem,
);

$icon-width: (
  sm: 1rem,
  base: 2rem,
  lg: 3rem,
);
