@use "sass:map";

@use "mixins";
@use "tokens";

body {
  font-family: map.get(tokens.$fonts, sans);
}

* {
  color: map.get(tokens.$brand, white);
  @include mixins.light-mode {
    color: map.get(tokens.$brand, black);
  }
}
