@use "../sass/tokens";
@use "sass:map";
@use "../sass/mixins";

.color-scheme-toggle {
  @include mixins.svg-button;
}

.color-scheme-toggle__icon {
  max-height: 20px;
  max-width: 20px;
}

.color-scheme-toggle__icon--dark {
  color: map.get(tokens.$brand, sky-blue);
}

.color-scheme-toggle--light {
  color: map.get(tokens.$brand, yellow);
}
