@use "sass:map";

@use "../sass/tokens";
@use "../sass/mixins";

.page-layout {
  display: flex;
  flex-direction: column;
  gap: map.get(tokens.$spacing, base);
  min-height: 100vh;
  min-width: map.get(tokens.$breakpoints, minimum);

  & > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: map.get(tokens.$spacing, base);

    @include mixins.container;

    .page-layout__content {
      display: flex;
      flex-direction: column;
      flex: 2;

      gap: map.get(tokens.$spacing, base);
      min-width: calc(
        map.get(tokens.$breakpoints, minimum) - map.get(tokens.$spacing, base) *
          2
      );
    }

    .page-layout__panes {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: map.get(tokens.$spacing, base);

      // Setting the min-width to the same min-width as the overall .page-layout makes the flex work nicely at all widths.
      min-width: calc(
        map.get(tokens.$breakpoints, minimum) - map.get(tokens.$spacing, base) *
          2
      );
    }
  }

  & > footer {
    margin-top: auto;
    place-self: flex-end;
    width: 100%;
  }
}

.page-layout--full {
  width: 100%;
}
