@use "sass:map";
@use "sass:color";

@use "../sass/functions";
@use "../sass/mixins";
@use "../sass/tokens";

.vulnerability-properties {
  overflow-x: hidden;

  & > dt:not(:first-child) {
    margin-top: map.get(tokens.$padding, lg);
  }

  @include mixins.light-mode {
  }

  & > dt {
    font-weight: 700;
    padding: 0 map.get(tokens.$padding, sm);
    border-left: 1em solid map.get(tokens.$brand, gray);
    border-bottom: map.get(tokens.$border-width, sm) solid
      map.get(tokens.$brand, gray);
    @include mixins.light-mode {
      border-left-color: map.get(tokens.$brand, black);
      border-bottom-color: map.get(tokens.$brand, black);
    }
  }

  & > dd {
    padding: 0 map.get(tokens.$padding, sm);
    padding-left: 1em;
  }

  .vulnerability-references-property--url {
    position: relative;

    &::before {
      content: "-";
      position: absolute;
      left: 0.25ex;
    }

    white-space: normal;
    overflow-wrap: anywhere;
    word-break: normal;
    hyphens: none;
  }
}

.cvss-vectors {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: map.get(tokens.$spacing, base);
  row-gap: map.get(tokens.$spacing, xs);
}

.cvss-vector--note {
  text-align: end;
}

.cvss-vector--vector {
  font-family: map.get(tokens.$fonts, mono);
  overflow-wrap: anywhere;
}
