@use "sass:color";
@use "sass:map";

@use "../sass/tokens";
@use "../sass/mixins";

.labeled-text-input {
  display: block;
  width: 100%;
  border-width: 2.5px;
  border-style: solid;
  border-radius: map.get(tokens.$border-radius, base);
  font-size: map.get(tokens.$font-size, base);

  padding: map.get(tokens.$padding, base) map.get(tokens.$padding, lg);

  @include mixins.transition(border-color outline-color outline-width, short);

  color: map.get(tokens.$brand, white);
  border-color: map.get(tokens.$grays, light);
  background-color: map.get(tokens.$grays, light);
  @include mixins.light-mode {
    border-color: map.get(tokens.$grays, very-light);
    color: map.get(tokens.$brand, black);
    background-color: map.get(tokens.$brand, light);
  }

  &.labeled-text-input--error {
    border-color: map.get(tokens.$colors, danger);
  }

  &::placeholder {
    opacity: 0.6;
    color: map.get(tokens.$grays, very-light);
    @include mixins.light-mode {
      color: map.get(tokens.$grays, dark);
    }
  }

  &:focus {
    border-color: map.get(tokens.$brand, rich-blue);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    border-color: map.get(tokens.$grays, light);
    background-color: map.get(tokens.$grays, light);
    @include mixins.light-mode {
      border-color: map.get(tokens.$grays, very-light);
      background-color: map.get(tokens.$grays, very-light);
    }
  }
}
