@use "sass:map";

@use "../sass/mixins";
@use "../sass/tokens";

.link {
  color: map.get(tokens.$brand, orange);
  @include mixins.transition(color, short);

  &:hover {
    color: map.get(tokens.$brand, red);
  }

  &.link--external::after {
    content: " ↗";
  }
}
