@use "sass:map";

@use "../sass/mixins";
@use "../sass/tokens";

.button {
  display: inline-flex;
  flex-direction: row;

  margin: 0;
  border: 0;

  font-family: map.get(tokens.$fonts, sans);

  @include mixins.transition(color, medium);

  &.button--sm {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  &.button--lg {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  @each $name, $color in tokens.$brand {
    &.button--#{"" + $name} {
      @include mixins.invert-colors-on-hover($name);
    }
  }

  &.button--rounded {
    border-radius: 0.5rem;
  }
}
