@use "sass:map";
@use "sass:color";

@use "../sass/functions";
@use "../sass/mixins";
@use "../sass/tokens";

.severity-badge {
  align-self: self-start; // Prevents the button from occupying all available space inside a div
  display: inline-flex;
  flex-direction: row;

  margin: 0;
  border: 1;

  font-family: map.get(tokens.$fonts, sans);

  @include mixins.pad(sm);
  font-size: map.get(tokens.$font-size, sm);
  border-radius: map.get(tokens.$border-radius, lg);

  color: var(--lighter);
  background-color: var(--darker);
  @include mixins.light-mode {
    color: var(--darker);
    background-color: var(--lighter);
  }


  &.severity-badge--unknown {
    --lighter: #{map.get(tokens.$grays, light)};
    --darker: #{map.get(tokens.$grays, very-light)};
  }

  &.severity-badge--low {
    --lighter: #{color.scale(map.get(tokens.$brand, ocean-blue), $lightness: +75%)};
    --darker:  #{map.get(tokens.$brand, ocean-blue)};
  }

  &.severity-badge--medium {
    --lighter: #{map.get(tokens.$brand, yellow)};
    --darker: #{functions.darken(map.get(tokens.$brand, yellow), 80%)};
  }

  &.severity-badge--high {
    --lighter: #{map.get(tokens.$brand, orange)};
    --darker: #{functions.darken(map.get(tokens.$brand, orange), 80%)};
  }

  &.severity-badge--critical {
    --lighter: #{map.get(tokens.$brand, red)};
    --darker: #{functions.darken(map.get(tokens.$brand, red), 80%)};
  }
}
