@use "sass:map";

@use "../sass/tokens";
@use "../sass/mixins";
@use "../sass/functions";

.install-cta {
  @include mixins.border(base);
  @include mixins.pad(lg);
  @include mixins.shadow;

  width: 100%;

  .install-cta__header {
    font-weight: 600;
    font-size: map.get(tokens.$font-size, lg);
    color: map.get(tokens.$brand, light);
    @include mixins.light-mode {
      color: map.get(tokens.$brand, gray);
    }
  }

  p {
    font-weight: 300;
  }

  strong,
  p {
    color: map.get(tokens.$brand, white);
    @include mixins.light-mode {
      color: map.get(tokens.$brand, black);
    }
  }
}

.install-cta__body {
  margin: map.get(tokens.$spacing, xl) 0;

  p {
    font-size: map.get(tokens.$font-size, base);
  }
}

.install-cta__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  gap: map.get(tokens.$spacing, base);

  list-style-type: none;
  padding-top: map.get(tokens.$spacing, base);
}

.install-cta__link {
  display: flex;
  text-align: center;
  align-items: center;
  text-wrap-mode: nowrap;

  @include mixins.transition(border-top-color, shortish);
  border-top: 2px solid
    rgba($color: map.get(tokens.$colors, secondary), $alpha: 0);
  padding: map.get(tokens.$spacing, lg) map.get(tokens.$spacing, base);
  @include mixins.transition(color, short);

  color: functions.lighten(map.get(tokens.$brand, black), 30%);
  border-top: 2px solid
    rgba($color: map.get(tokens.$colors, secondary), $alpha: 0);
  padding: map.get(tokens.$spacing, lg) map.get(tokens.$spacing, xs);

  svg {
    padding-right: map.get(tokens.$padding, base);
    height: 20px;
    width: auto;
  }

  svg.install-cta__icon--apple {
    height: 30px;
  }

  &:hover {
    color: map.get(tokens.$brand, very-black);
    border-top-color: map.get(tokens.$colors, secondary);
  }

  &.install-cta__link--active,
  &:focus {
    color: map.get(tokens.$brand, ocean-blue);
    border-top-color: map.get(tokens.$brand, ocean-blue);
  }
}

.install-cta__external {
  @include mixins.svg-icon;
}
